* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body *{}*/
#container{
    display: flex ;
    flex-direction: column;
}
header{
    grid-area: cabecera;
    display: flex;
    justify-content: space-between;
    height: 80px ;
    border: 1px solid black;
    background-color: rgb(253, 255, 108);
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  3em; /*sig multiplicar la letra M(que es la mas grande del abecedario) 
                    por x numero*/
}
nav{
    grid-area: bread-crumbs;
    height: 25px;
    border: 1px solid black;
    margin-bottom: 5px;
}
main{
    grid-area: principal;
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
}
#noticias_lateral{
    margin-right: 50px; 
}
#enlaces-lateral{
    width: 25%;
    grid-area: enlaces-lateral;
    border: 1px solid black;
    background-color: rgb(207, 255, 159);
    margin-right: 10px;
    border: 1px solid black;
}
#main-section{
    width: 75%;
    grid-area: main-section;
    display: flex;
    border: 1px solid black;
    
}
#main-section section{
    width: 80%;
    grid-area: noticias;
    border: 1px solid black;
}
#main-section aside {
    width: 20%;
    grid-area: noticias-lateral ;
    border: 1px solid black;
    background-color: rgb(131, 250, 250);
    margin-left: 10px;
}
footer{
    grid-area: pie;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(255, 179, 92);
    margin-top: 5px;
}
img.icono {
    float: left;
    justify-content: left;
    align-items: left ;
    margin: 5px 5px 5px 5px;
    height: 150px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1,5 em;
}
.clear{
    clear: both; /*se pone cunado hy un float*/
}

