* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
/*header,main,footer,aside,img {
    border: 2px solid black;
}*/
.grid-container {
    display: grid;
    grid-template:
    "cab cab"
    "menu princ"
    "pie pie";
    grid-template-columns: 
    125PX auto ;
    grid-template-rows: 
    100px auto 50px;
    height: 100vh;
}
header{ 
    grid-area: cab;
    display: flex;
    align-items: center;
    background-image: url(../resources/fondos/fondo2.jpg)
}
header #titulos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 100px;
    padding: 5px;
}
aside {
    grid-area: menu;
    display: flex;
    flex-direction: column; 
    justify-content: fel;
    align-items: center;
    gap: 20px;
    background-image: url(../resources/fondos/fondo1.jpg);
/*
    padding-top: 20px;
    margin-top: 3px;
    margin-bottom: 3px
*/
}
aside img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 120px ;
    max-width: 120px;
    max-height: 120px;
}

aside a{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 120px ;
    width: 100%;
    max-width: 120px;
}

aside img,aside a img{
    width: 120px;
    max-width: 100%;
}
/*
aside img.no-activo:hover {
    background-color: lightgreen;
    cursor: pointer;
}
aside .activo{
    background-color: rgb(172, 231, 241);
}
aside a:active img.no-activo {
    background-color: rgb(204, 50, 158);
    cursor: pointer;
}

main {
    grid-area: princ;
    overflow: scroll;
    position: relative;
    background-image: url(../resources/fondos/fondo3.jpg);
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
main ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: burlywood;
    position: sticky;
    top: 0px; /*<--import
    gap:5px;
}
main ul li{
    list-style: none;  
}
main ul li:hover {
    background-color: rgb(174, 174, 255);
  }
*/
p::first-letter{ /*tipo periodico*/
    font-size: 2em;
    color: brown;
    background-color: burlywood;
}
/*
p::first-line {
    background-color:   rgb(226, 206, 179);
}
*/
h1,h2,h3,p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
img.no-activo {
    background-color: rgb(219, 205, 184); /*fiesta y gastronomia
    cursor: pointer;
}
*/
footer {
    grid-area: pie;
    background-image: url(../resources//fondos/fondo3.jpg);
}

@media (max-width: 750px){ /*Es la forma en la que se vera la web en los difs dispositivos*/
    header img{
        height: 100px;
        padding: 5px;
    }
    .grid-container{
        grid-template-areas:
        "cab menu"
        "princ princ"
        "pie pie";
    grid-template-columns: 
        auto 120px;
    grid-template-rows: 
        90px auto 50px;
    height: 100vh;
    }
    aside{
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-start;
    gap: 5px;
    padding-top: 5px;
    padding-right: 5px;
    background-image: url(../resources/fondos/fondo2.jpg);
    }
    aside a{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 30px ;
        width: 100%;
        max-width: 30px;
        max-height: 30px;
    }
    aside img,aside a img{
        width: 100px;
        max-width: 30px;
    }
}

/*_______________________________________________________________________________________________*/


main {
    grid-area: princ;
    overflow: scroll;
    position: relative;
    background-image: url(../resources/fondos/fondo3.jpg);
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
main ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: burlywood;
    position: sticky;
    top: 0px; /*<--import*/
    gap:5px;
}
main ul li{
    list-style: none;  
}
main ul li:hover {
    background-color: rgb(174, 174, 255);
  }
aside .activo{
    background-color: rgb(172, 231, 241);
}
aside img.no-activo:hover {
    background-color: lightgreen;
    cursor: pointer;
}
img.no-activo {
    background-color: rgb(219, 205, 184); 
    cursor: pointer;
}
aside a:active img.no-activo {
    background-color: rgb(204, 50, 158);
    cursor: pointer;
}
