* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.grid-container {
    display: grid;
    grid-template:
    "cab cab"
    "menu princ"
    "pie pie";
    grid-template-columns: 
    125PX auto ;
    grid-template-rows: 
    100px auto 50px;
    height: 100vh;
}
header{ 
    grid-area: cab;
    display: flex;
    align-items: center;
    background-image: url(../resources/fondos/fondo2.jpg)
}
header #titulos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 100px;
    padding: 5px;
}
aside {
    grid-area: menu;
    display: flex;
    flex-direction: column; 
    justify-content: fel;
    align-items: center;
    gap: 20px;
    background-image: url(../resources/fondos/fondo1.jpg);
}
aside img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 120px ;
    max-width: 120px;
    max-height: 120px;
}
aside a{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 120px ;
    width: 100%;
    max-width: 120px;
}
aside img,aside a img{
    width: 120px;
    max-width: 100%;
}
aside img.no-activo:hover {
    background-color: lightgreen;
    cursor: pointer;
}
aside .activo{
    background-color: rgb(172, 231, 241);
}
aside a:active img.no-activo {
    background-color: rgb(204, 50, 158);
    cursor: pointer;
}
main {
    grid-area: princ;
   /* overflow: scroll;
    position: relative; */
    background-image: url(../resources/fondos/fondo3.jpg);
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
main ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: burlywood;
    position: sticky;
    top: 0px; /*<--import*/
    gap:5px;
}
main ul li{
    list-style: none;  
}
main ul li:hover {
    background-color: rgb(174, 174, 255);
  }
p::first-letter{ /*tipo periodico*/
    font-size: 2em;
    color: brown;
    background-color: burlywood;
}
p::first-line {
    background-color:   rgb(226, 206, 179);
}
h1,h2,h3,p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img.no-activo {
    background-color: rgb(219, 205, 184); /*fiesta y gastronomia*/
    cursor: pointer;
}

footer {
    grid-area: pie;
    background-image: url(../resources//fondos/fondo3.jpg);
}
@media (max-width: 750px){ /*Es la forma en la que se vera la web en los difs dispositivos*/
    header img{
        height: 100px;
        padding: 5px;
    }
    .grid-container{
        grid-template-areas:
        "cab menu"
        "princ princ"
        "pie pie";
    grid-template-columns: 
        auto 120px;
    grid-template-rows: 
        90px auto 50px;
    height: 100vh;
    }
    aside{
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-start;
    gap: 5px;
    padding-top: 5px;
    padding-right: 5px;
    background-image: url(../resources/fondos/fondo2.jpg);
    }
    aside a{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 30px ;
        width: 100%;
        max-width: 30px;
        max-height: 30px;
    }
    aside img,aside a img{
        width: 100px;
        max-width: 30px;
    }
}
/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

header,aside,main,footer,div,article{
    border: black solid 1px;
}

.grid-container {
    display: grid;
    grid-template:
    "lateral cabecera lateral2"
    "lateral principal lateral2"
    "lateral pie lateral2";

    height: 100vh;
    grid-template-rows: 2fr 30fr 1fr;
    grid-template-columns: 3fr 25fr 3fr;
}

header {
    grid-area: cabecera;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/imagenes/Faro_de_Trafalgar_al_atardecer.jpg);
    background-size:300px 200px;
}

header div {
    background-image: url(../resources/fondos/fondo2.jpg);
    width: 65%;
    align-items: center;
}

#escudo {
    height: 100px;
    float: left;
}

aside {
    grid-area: lateral;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background-color:burlywood;
}

.icono {
    height: 120px;
}

.icono:hover {
    background-color: yellowgreen;
}

#actual {
    background-color: rgb(208, 167, 113);
}

main {
    grid-area: principal;
    background-image: url(../resources/fondos/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
}

main ul li {
    list-style: none;

}

main ul li:hover {
    background-color: lightcyan;
}

.derecha {
    grid-area: lateral2;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: pie;
    background-color:khaki;
    padding: 0px 5px 0px;
}

article{
    text-align: justify;
}

h2 {
    color: brown;
}

article p, article li {
    margin: 10px;
    color:darkblue;
}

.img_texto {
    height: 200px;
    float: right;
    overflow: auto;
    margin: 5px 5px;
}

.img_texto_centro {
    height:500px;
    text-align: center;
    border: 0px;
}

div #gastronomia {
    display: grid;
    grid-template:
    "mojama mojama fideos fideos encebollao encebollao"
    "morena morena morena recortes recortes recortes";

    height: 100vh;
}

#mojama {
    grid-area: mojama;
}
#fideos {
    grid-area: fideos;
}
#encebollao {
    grid-area: encebollao;
}
#morena {
    grid-area: morena;
}
#recortes {
    grid-area: recortes;
}

.imagenn {
   height: 300px;
}

div .borde_rojo {
    border: red solid 2px;
}

main div div {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

